@font-face {
    font-family: brabo;

    /*Caso a fonte esteja na mesma pasta*/
    src: url("../font/AmazDooMLeft2.ttf");
}

@media (min-width: 1200px) {
    body{
        background-color: black;
    }
    .btn-link {
        background-color: #00b9ff;
        color: white;
        box-shadow: 0px 0px 20px 6px #8AE4C7;
        border: solid 1px white;
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
    }

    .container-fluid {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
        background-position: center; 
    }

    .sombra {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }

    b {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }


    .espacamento {
        line-height: 50px;
    }

    .brabo {
        font-family: brabo;
        font-size: 40px;
        letter-spacing: 15px;
        text-shadow: 1px 1px 2px #8AE4C7;

    }

    .logo {
        width: 10%;
    }
}

@media (max-width: 1199.98px) {
    body{
        background-color: black;
    }
    .btn-link {
        background-color: #00b9ff;
        color: white;
        box-shadow: 0px 0px 20px 6px #8AE4C7;
        border: solid 1px white;
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
        
    }

    .container-fluid {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    .sombra {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }

    b {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }


    .espacamento {
        line-height: 50px;
    }

    .brabo {
        font-family: brabo;
        font-size: 40px;
        letter-spacing: 15px;
        text-shadow: 1px 1px 2px #8AE4C7;

    }

    .logo {
        width: 20%;
    }
}

@media (max-width: 991.98px) {
    .btn-link {
        background-color: #00b9ff;
        color: white;
        box-shadow: 0px 0px 20px 6px #8AE4C7;
        border: solid 1px white;
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
    }

    .container-fluid {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    .sombra {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }

    b {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }


    .espacamento {
        line-height: 50px;
    }

    .brabo {
        font-family: brabo;
        font-size: 40px;
        letter-spacing: 15px;
        text-shadow: 1px 1px 2px #8AE4C7;

    }

    .logo {
        width: 20%;
    }

}

@media (max-width: 767.98px) {
    body{
        background-color: black;
    }
    .btn-link {
        background-color: #00b9ff;
        color: white;
        box-shadow: 0px 0px 20px 6px #8AE4C7;
        border: solid 1px white;
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
    }

    .container-fluid {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;

    }

    .sombra {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }

    b {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }


    .espacamento {
        line-height: 50px;
    }

    .brabo {
        display: none;

    }

    .logo {
        width: 20%;
    }

}

@media (max-width: 575.98px) {
    body{
        background-color: black;
    }

    .btn-link {
        background-color: #00b9ff;
        color: white;
        box-shadow: 0px 0px 20px 6px #8AE4C7;
        border: solid 1px white;
    }

    .mb-5 {
        margin-bottom: 1px;
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
    }

    .container-fluid {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;

    }

    .sombra {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }

    b {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }


    .espacamento {
        line-height: 30px;
    }

    .brabo {
        display: none;

    }

    .logo {
        width: 40%;
    }

    h3 {
        font-size: 15px;
    }

    h6 {
        font-size: 10;
    }

    .footer {
        margin-top: none;
    }


}

@media (min-height: 820px) {
    body{
        background-color: black;
    }
    .btn-link {
        background-color: #00b9ff;
        color: white;
        box-shadow: 0px 0px 20px 6px #8AE4C7;
        border: solid 1px white;
    }

    .btn-link:hover {
        text-decoration: none;
        color: white;
    }

    .container-fluid {
        background-image: url("../img/background.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }

    .sombra {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }

    b {
        -webkit-filter: drop-shadow(0px 0px 20px#8AE4C7);
        filter: drop-shadow(0px 0px 5px #8AE4C7);
    }


    .espacamento {
        line-height: 50px;
    }

    .logo {
        width: 20%;
    }
}